.example-spacer {
    flex: 1 1 auto;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 5px 5px grey;
    background-color: rgb(55, 122, 173);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:#94c5eb;
  }
  
  li a.active {
    color: white;
    background-color: #4cafaf;
  }
  