/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#navBar {
  top: 0;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  
}
.mat-grid-list {    
    /* margin: 2%; */
    padding-top: 1%;
    width: 98%;
    margin-left: 1%;
  }

  table {
    box-shadow: 0 5px 5px grey;
  }

  table, tr, td{
    height: 90%;
    text-align: left;
    /* border: 1px solid black; */
    width: 100%;
    padding: 2%;
    background: lightblue;
  }

  th {
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
  }

  #content {
    width: 100%;
    height: 100%;
  }

  .description {
    height: 5vh;
  }

  .new-content {
    height: 10vh;
  }

  .author {
    width: 80%;
    text-align: left;
    
  }

  .date {
    width: 20%;
    text-align: right;
    padding: 1%;

  }

  .btnDelete {
    text-align: center;
  }

  .btn {
    text-align: center;
    width: 4vw;
    border-radius: 4px;
    background-color: #d6d685;
  }
  .btn:hover{
    cursor: pointer;
    background-color:  #a0a067;
  }